.dashboard {
  height: 100vh;
  overflow-y: auto;
  .bar {
    height: 4rem;
    @include flex(row, unset);
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    > input {
      margin-right: auto;
      @include inuptStyle(100%, 1rem 0);
    }
  }
}
